konular/java/projects/ArtOfWeb/art_emotherearth_ws_client/OrderStatus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/emotherearth/services/OrderStatus" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/emotherearth/services/OrderStatus" xmlns:intf="http://localhost:8080/emotherearth/services/OrderStatus" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types/>
  <wsdl:message name="getShippingStatusResponse">
    <wsdl:part name="getShippingStatusReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getOrderStatusRequest">
    <wsdl:part name="orderKey" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="getWsDescriptionResponse">
    <wsdl:part name="getWsDescriptionReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getOrderStatusResponse">
    <wsdl:part name="getOrderStatusReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getWsDescriptionRequest">
  </wsdl:message>
  <wsdl:message name="getShippingStatusRequest">
    <wsdl:part name="orderKey" type="xsd:int"/>
  </wsdl:message>
  <wsdl:portType name="OrderInfo">
    <wsdl:operation name="getWsDescription">
      <wsdl:input message="impl:getWsDescriptionRequest" name="getWsDescriptionRequest"/>
      <wsdl:output message="impl:getWsDescriptionResponse" name="getWsDescriptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatus" parameterOrder="orderKey">
      <wsdl:input message="impl:getOrderStatusRequest" name="getOrderStatusRequest"/>
      <wsdl:output message="impl:getOrderStatusResponse" name="getOrderStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getShippingStatus" parameterOrder="orderKey">
      <wsdl:input message="impl:getShippingStatusRequest" name="getShippingStatusRequest"/>
      <wsdl:output message="impl:getShippingStatusResponse" name="getShippingStatusResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderStatusSoapBinding" type="impl:OrderInfo">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getWsDescription">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getWsDescriptionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getWsDescriptionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOrderStatusRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getOrderStatusResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShippingStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getShippingStatusRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getShippingStatusResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/emotherearth/services/OrderStatus" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderInfoService">
    <wsdl:port binding="impl:OrderStatusSoapBinding" name="OrderStatus">
      <wsdlsoap:address location="http://localhost:8080/emotherearth/services/OrderStatus"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>